@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Svarga;
    src:
         url('/fonts/SvargaTypeface-Regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}